@font-face {
  font-family: rubik;
  font-display: swap;
  src: url("../fonts/rubik-medium.woff2") format("woff2"), url("../fonts/rubik-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: rubik;
  font-display: swap;
  src: url("../fonts/rubik-regular.woff2") format("woff2"), url("../fonts/rubik-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.stop-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  min-height: 100vh;
}

.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 26% 50%;
     object-position: 26% 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: -1;
}

.header__box {
  position: relative;
  height: 100vh;
}

.header__wrapper {
  max-width: 300px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* gap: 100px; */
  left: 10%;
  top: 20%;
  /* transform: translateX(-50%); */
  /* @media (min-width: 600px) {
    left: 30%;
  } */
}

/* .header__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 100px;
  left: 41%;
  bottom: 41%;
  transform: translateX(-50%);
  @media (min-width: 600px) {
    left: 30%;
  }
} */

.header__title {
  padding: 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2.3px;
  color: #ffffff;
}

.header__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 30px;
  display: block;
  padding: 10px 40px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btn:hover {
  color: #000000;
  border: 1px solid #000000;
}

.hero {
  height: 100vh;
  margin-top: 120px;
}

.hero__inner {
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hero__title span {
  color: rgb(121, 121, 121);
}

.hero__text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(121, 121, 121);
}

.hero__box {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  min-height: 207px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__box-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: -54px;
  left: 0;
}

.hero__box-text {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 50%;
}

.hero__box-text_width {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.wish {
  /* margin-top: 100px; */
  padding: 120px 0;
  background-color: #ffffff;
}

.wish__inner {
  margin: 0 auto;
  text-align: center;
}

.wish__list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wish__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.wish__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 10px;
  width: calc(30% - 5px);
  min-height: 59px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: rgb(121, 121, 121);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) padding-box, -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgb(121, 121, 121))) border-box;
  background: -o-linear-gradient(white, white) padding-box, -o-linear-gradient(left, #ffffff, rgb(121, 121, 121)) border-box;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #ffffff, rgb(121, 121, 121)) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.admin {
  margin-top: 100px;
}

.admin__title {
  line-height: 56px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.admin__boxs {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28% 39% 28%;
  grid-template-columns: 28% 39% 28%;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.admin-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.admin-list__item {
  width: 100%;
  padding: 30px 10px;
  border-radius: 10px;
  border: 1px solid rgb(121, 121, 121);
}

.admin-list__text {
  line-height: 31px;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.admin-list__description {
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.admin-wrapper {
  overflow: hidden;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.admin-wrapper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

@media (min-width: 576px) {
  .header {
    max-height: 650px;
  }
}

@media (max-width: 1000px) {
  .admin__boxs {
    -ms-grid-columns: 47% 47%;
    grid-template-columns: 47% 47%;
        grid-template-areas: "B B" "A C";
  }

  .admin-wrapper {
    max-width: 600px;
  }

  .admin-list__grid_item1 {
    grid-area: A;
  }

  .admin-list__grid_item2 {
    grid-area: B;
  }

  .admin-list__grid_item3 {
    grid-area: C;
  }
}

@media (max-width: 1000px) {
  .admin-list__grid_item1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .admin-list__grid_item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .admin-list__grid_item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

@media (max-width: 730px) {
  .wish__item {
    width: calc(50% - 5px);
  }
}

@media (max-width: 640px) {
  .admin__boxs {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    gap: 0px;
    -ms-grid-rows: auto 0px auto 0px auto;
        grid-template-areas: "B" "A" "C";
  }
  .admin-list__grid_item1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .admin-list__grid_item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .admin-list__grid_item3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}

@media (max-width: 600px) {
  .hero__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .hero__box-text {
    width: auto;
  }
}